@import "home-page-mobiles.css" screen and (max-width: 480px);
@import "home-page-tablets.css" screen and (min-width: 481px) and
  (max-width: 768px);
@import "home-page-desktops.css" screen and (min-width: 769px) and
  (max-width: 1280px);
@import "home-page-desktops2.css" screen and (min-width: 1280px);

body {
  font-family: Poppins, Times, serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 17vh auto 10vh;
  grid-template-areas:
    "hd hd"
    "main main"
    "ft ft";
}

div.nav-left {
  padding-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  background-color: #ff0000;
  color: #ffffff;
}

ul {
  display: flex;
  width: 150px;
  padding-left: 2px;
  margin-top: 30px;
  list-style: none;
}

li {
  margin-left: 15px;
  text-align: center;
  border: 2px solid #ffffff;
  box-shadow: 1px 2px #ffffff;
  color: #ffffff;
}

blockquote {
  color: #ffffff;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
}

a.nav-buttons {
  text-decoration: none;
}

img.image {
  border: 2px solid #000000;
  border-radius: 10%;
}

.head {
  background-color: #000000;
  border-bottom: 3px solid #ff0000;
  display: grid;
  grid-area: hd;
}

.card:hover {
  border: 5px solid #000000;
  box-shadow: 10px 10px #ff0000;
  opacity: 0.5;
  transition: 0.6s;
}

.main-section {
  grid-area: main;
  background-image: url("Bg-masthead.jpg");
  background-size: cover;
  background-position: center;
}

.cards {
  display: grid;
  grid-template-rows: auto;
  justify-content: space-around;
}

.card {
  border: 1px solid #000000;
  background-color: #ebebe0;
  border-radius: 10%;
}

.title {
  text-align: center;
}

.info {
  text-align: center;
}

.description {
  text-align: left;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

button.see-more {
  background-color: #ff0000;
  color: #ffffff;
}

button.see-more {
  background-color: #ff0000;
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.foot {
  background-color: #000000;
  border-top: 3px solid #ff0000;
  grid-area: ft;
}
