@import "blog-post-mobiles.css" screen and (max-width: 530px);

@import "blog-post-tablets.css" screen and (min-width: 531px) and
  (max-width: 1024px);

@import "blog-post-desktops.css" screen and (min-width: 1024px);

body {
  font-family: Poppins, Times, serif;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "hd hd hd hd"
    "main main main main"
    "ft ft ft ft";
}

.head {
  background-color: #000000;
  border-bottom: 3px solid #ff0000;
  display: grid;
  grid-area: hd;
}

ul.nav-links {
  display: flex;
  width: 150px;
  padding-left: 2px;
  margin-top: 4vh;
  list-style: none;
}

ul.infocard-items {
  list-style: none;
  text-align: left;
  padding-left: 15px;
}

li.nav-button {
  margin-left: 15px;
  text-align: center;
  border: 2px solid #ffffff;
  box-shadow: 1px 2px #ffffff;
  color: #ffffff;
}

a.nav-buttons {
  text-decoration: none;
}

section {
  grid-area: main;
  background-image: url("Bg-masthead.jpg");
  background-size: cover;
  background-position: center;
}

div.card {
  border: 2px solid black;
  background-color: #ebebe0;
  box-shadow: 2px 2px #808080;
  border-radius: 10%;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.btn {
  background-color: #ff0000;
  color: #ebebe0;
}

a.social-buttons {
  text-decoration: none;
  color: #ebebe0;
}

blockquote {
  color: #ffffff;
  margin-top: 1.5vh;
  margin-left: 20px;
}

.foot {
  background-color: #000000;
  border-top: 3px solid #ff0000;
  grid-area: ft;
}
