body {
  grid-template-rows: 20vh auto 10vh;
}

img.image {
  padding-top: -1vh;
  width: 180px;
  height: 90px;
  margin-left: 10px;
  margin-right: 10px;
}

.cards {
  grid-template-columns: auto;
}

.card {
  box-shadow: 1px 6px grey;
  margin: 25px auto;
  width: 200px;
}

.title {
  padding-top: -1vh;
}

.description {
  font-size: 14px;
}
