img.image {
  width: 210px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.cards {
  grid-template-columns: auto auto auto;
}

.card {
  box-shadow: 2px 2px #808080;
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 15vh 5vh auto;
  width: 230px;
}

.description {
  font-size: 18px;
}
