img.image{
	width: 35vw;
	height: 15vh;
	margin-left: 2.5vw;
}

.cards{
	grid-template-columns: 40vw 40vw;
}

.card{
	box-shadow: 2px 2px grey;
    margin: 25px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10vh 15vh 5vh auto;
    width: 40vw;
}

.description{
	 font-size: 2.5vmin;
}
