img.image {
  width: 210px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

div.nav-right {
  padding-top: 30px;
}

div.nav-left {
  padding-top: 30px;
}

form {
  font-size: 16px;
  width: 400px;
}

form button {
  font-size: 16px;
}

li {
  font-size: 20px;
  width: 100px;
}

.cards {
  grid-template-columns: auto auto auto;
}

.card {
  box-shadow: 2px 2px #808080;
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 15vh 5vh auto;
  width: 230px;
}

.description {
  font-size: 18px;
}

blockquote {
  font-size: 20px;
}
