img.image {
  width: 200px;
  height: 130px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

div.nav-right {
  padding-top: 20px;
}

div.nav-left {
  padding-top: 20px;
}

form {
  font-size: 16px;
  width: 250px;
}

form button {
  font-size: 16px;
}

li {
  font-size: 18px;
  width: 80px;
}

.cards {
  grid-template-columns: auto auto;
}

.card {
  box-shadow: 2px 2px #808080;
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 15vh 5vh auto;
  width: 215px;
}

.description {
  font-size: 16px;
}

blockquote {
  font-size: 18px;
}
