img.image {
  width: 230px;
  height: 18vh;
  margin-left: 10px;
  margin-right: 10px;
}

div.nav-right {
  padding-top: 30px;
}

div.nav-left {
  padding-top: 30px;
}

form {
  font-size: 18px;
  width: 500px;
}

form button {
  font-size: 18px;
}

li {
  font-size: 22px;
  width: 120px;
}

.cards {
  grid-template-columns: auto auto auto auto;
}

.card {
  box-shadow: 2px 2px #808080;
  margin: 25px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10vh 20vh 5vh auto;
  width: 250px;
}

.title {
  height: 8vh;
  margin-bottom: 1vh;
}

.info {
  margin-top: 1.5vh;
}

.description {
  font-size: 20px;
}

blockquote {
  font-size: 22px;
}
